<!--    
    @@@T4AssetType = pageLayout
    @@@T4AssetID = 4754
    @@@T4Parse = startHeader
-->
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/">
    <channel>
    <title>TERMINALFOUR Sample Site Blogs</title>
    <link>https://samplesite.terminalfour.com/life-at-t4u/blog/</link>
    <description>T4 Sample Site Blog</description>
    <language>en-us</language>
    <generator>TERMINALFOUR</generator>
    <copyright>Copyright: (C). TERMINALFOUR 2017</copyright>


<!-- @@@T4Parse = startFooter -->
</channel>
</rss>